<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if title %}
                {{ (title + " | ") }}
            {% endif %}
        Håvard Brynjulfsen
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Håvard Brynjulfsen">
        <meta name="description" content="Håvard Brynjulfsen's personal website.">
        <meta property="og:title" content="Håvard Brynjulfsen">
        <meta property="og:description" content="Håvard Brynjulfsen's personal website.">
        <meta property="og:image" content="/meta-img.jpg">
        <meta property="og:url" content="/">
        <meta property="og:site_name" content="Håvard Brynjulfsen">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:alt" content="Screenshot of Håvard Brynjulfsen's website">
        <link href="{{ '/css/styles.css' | url }}" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="img/unicorn-circle.svg">
    </head>
    <body>