<section class="section" {%- if section.data.id -%} id="{{ section.data.id }}" {%- endif -%}>
    <div class="sidebar">
        <h1 class="sidebar-title">
            <span>
                {{ section.data.icon | safe }}
                {{ section.data.title }}
            </span>
        </h1>
    </div>
    <div class="section-body">
        <div class="container section-rows">
            <div class="section-intro">
                {{ section.data.content | safe }}
            </div>
            <div class="section-content">
                {% include "partials/projectlist.njk" %}
                <!-- <div class="section-actions">
                    <a href="/pens/">More projects</a>
                </div> -->
            </div>
        </div>
    </div>
</section>