<footer class="footer">
    <div class="footer-body">
        <div class="container">
            <div class="footer-content">
                <p>Designed using my brain and eyes. Built with <a href="#">Eleventy</a>. Powered by <a href="#">Netlify</a> and <a href="#">Netlify CMS</a>. Icons by <a href="#">Phosphor Icons</a>. Code on <a href="#">GitHub</a>.</p>
            </div>
        </div>
    </div>
</footer>