<footer class="footer">
    <div class="footer-body">
        <div class="container">
            <div class="footer-content">
                <p>Designed using my brain and eyes. Built with <a href="https://www.11ty.dev/">Eleventy</a>. Deployed with <a href="https://www.netlify.com/">Netlify</a> and edited with <a href="https://www.netlifycms.org/">Netlify CMS</a>. Icons by <a href="https://phosphoricons.com/">Phosphor Icons</a>. Code on <a href="https://github.com/havardob/personal-site-v2">GitHub</a>.</p>
            </div>
        </div>
    </div>
</footer>